.container {
  background-image: url(./images/bg1.jpg);
  background-repeat: repeat;
  /* height: 100vh; */
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Architects Daughter", cursive; */
  font-family: "Merienda", cursive;
  position: relative;
}

.element1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 125px;
}

.type {
  background-color: #008277;
  color: #ffd5ac;
  border-radius: 10px;
}

.veg {
  border-color: #008378;
  color: #008378;
  border-width: 2px;
}

.nveg {
  border-color: #ea0032;
  color: #ea0032;
  border-width: 2px;
}

.chili {
  color: #ea0032;
}

.title {
  background-color: #008277;
  color: #ffd5ac;
  border-radius: 40px;
}

.food-item {
  margin: 0.1rem;
  padding: 0.5rem;
  border: #ea0032;
  border-width: 2px;
  border-radius: 20px;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #008277;
}

.out {
  background-color: gray;
}
